body {
    background-color: rgb(206, 255, 239);
    font-family: 'Roboto Condensed', sans-serif;
}

.home {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: rgb(136, 170, 188);
}

.footer{
    background-color: rgb(136, 170, 188);
    text-align: center;
}

.content {
    text-align: center;
}
.container {
    display: flex;
}

.mainname {
    text-align: center;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.nom {
    text-align: center;
}

.image {
    text-align: center;
}

.prix{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

.Europe {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top: 20px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 120px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.Asie {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20%;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 120px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}

.Afrique {
    background-color: skyblue;
    color: white;
    border: none;
    cursor: pointer;
    padding:20px;
    margin-top:20px;
}
.mainmenubtn:hover {
    background-color: blue;
    }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-child {
    display: none;
    background-color: skyblue;
    min-width: 120px;
}
.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-child {
    display: block;
}
