body {
    background-color: rgb(206, 255, 239);
    font-family: 'Roboto Condensed', sans-serif;
}

.home {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: rgb(136, 170, 188);
}

.footer{
    background-color: rgb(136, 170, 188);
    text-align: center;
}

.content {
    display: block;
}
.container {
    display: flex;
}

.mainname {
    text-align: center;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.nom {
    text-align: center;
}

.image {
    text-align: center;
}

.prix{
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}



